/* Animácia pre text */
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text {
  animation: textAnimation 1s ease-in-out;
}

/* Animácia pre zmenu farby textu */
@keyframes colorChange {
  0% { color: #ff5733; }  /* Červená */
  25% { color: #ffbd33; } /* Oranžová */
  50% { color: #33ff57; } /* Zelená */
  75% { color: #3399ff; } /* Modrá */
  100% { color: #ff5733; } /* Späť na červenú */
}

.animated-text {
  animation: colorChange 4s infinite alternate ease-in-out;
}

/* Animácia pre škálovanie pri scrollovaní */
.scale-on-scroll {
  transition: transform 0.5s ease-in-out;
}